.upload-body{
  display: flex;
  justify-content: center;
}

.upload-container {
  border: 2px dashed #ccc;
  padding: 16px;
  text-align: center;
  cursor: pointer;
}

.upload-container:hover {
  border-color: #1890ff;
}

.upload-card{
  width: 50vw;
}


.upload-body > svg{
  width: 3em;
  height: 3em;
}

.upload-body > .ant-card{
  width: 50vw
}


@media screen and (max-width: 1110px) {
  .upload-card{
    width: 90vw;
  }
  .upload-body > .ant-card{
    width: auto
  }
}